<acl>
	<command name="!kick" level="2" echoChannelOnly="false" />
	<command name="!uptime" level="0" echoChannelOnly="false" />
	<command name="!say" level="1" echoChannelOnly="false" />
	<command name="!s" level="1" echoChannelOnly="false" />
	<command name="!m" level="1" echoChannelOnly="false" />
	<command name="!players" level="0" echoChannelOnly="false" />
	<command name="!pm" level="0" echoChannelOnly="false" />
	<command name="!ts" level="0" echoChannelOnly="false" />
	<command name="!getip" level="2" echoChannelOnly="false" />
	<command name="!getserial" level="2" echoChannelOnly="false" />
	<command name="!mute" level="2" echoChannelOnly="false" />
	<command name="!unmute" level="2" echoChannelOnly="false" />
	<command name="!mutes" level="2" echoChannelOnly="false" />
	<command name="!freeze" level="2" echoChannelOnly="false" />
	<command name="!unfreeze" level="2" echoChannelOnly="false" />
	<command name="!kill" level="2" echoChannelOnly="false" />
	<command name="!slap" level="2" echoChannelOnly="false" />
	<command name="!ban" level="3" echoChannelOnly="false" />
	<command name="!banip" level="3" echoChannelOnly="false" />
	<command name="!banserial" level="3" echoChannelOnly="false" />
	<command name="!banname" level="3" echoChannelOnly="false" />
	<command name="!unbanip" level="3" echoChannelOnly="false" />
	<command name="!unbanserial" level="3" echoChannelOnly="false" />
	<command name="!unban" level="3" echoChannelOnly="false" />
	<command name="!bans" level="3" echoChannelOnly="false" />
	<command name="!commands" level="0" echoChannelOnly="false" />
	<command name="!cmds" level="0" echoChannelOnly="false" />
	<command name="!lua" level="4" echoChannelOnly="false" />
	<command name="!run" level="4" echoChannelOnly="false" />
	<command name="!crun" level="4" echoChannelOnly="false" />
	<command name="!resources" level="3" echoChannelOnly="false" />
	<command name="!start" level="3" echoChannelOnly="false" />
	<command name="!restart" level="3" echoChannelOnly="false" />
	<command name="!stop" level="3" echoChannelOnly="false" />
	<command name="!account" level="3" echoChannelOnly="false" />
	<command name="!community" level="3" echoChannelOnly="false" />
	<command name="!money" level="0" echoChannelOnly="false" />
	<command name="!health" level="0" echoChannelOnly="false" />
	<command name="!wantedlevel" level="0" echoChannelOnly="false" />
	<command name="!team" level="0" echoChannelOnly="false" />
	<command name="!ping" level="0" echoChannelOnly="false" />
	<command name="!modules" level="3" echoChannelOnly="false" />
    <command name="!changemap" level="3" echoChannelOnly="false" />
    <command name="!map" level="0" echoChannelOnly="false" />
    <command name="!shutdown" level="5" echoChannelOnly="false" />
    <command name="!password" level="4" echoChannelOnly="false" />
    <command name="!gravity" level="3" echoChannelOnly="false" />
    <command name="!weather" level="3" echoChannelOnly="false" />
    <command name="!server" level="0" echoChannelOnly="false" />
    <command name="!zone" level="0" echoChannelOnly="false" />
    <command name="!refreshall" level="4" echoChannelOnly="false" />
    <command name="!refresh" level="4" echoChannelOnly="false" />
    <command name="!checkmap" level="2" echoChannelOnly="false" />
    <command name="!country" level="2" echoChannelOnly="false" />
    <!-- -->
    <command name="!account" level="2" echoChannelOnly="false" />
    <command name="!state" level="2" echoChannelOnly="false" />
</acl>